body {
  padding: 50px;
  font: 14px;
  background-color: rgb(213, 245, 245);
  font-family: 'Phudu', cursive;
  /* font-family: 'Chela One', cursive; */
}

a {
  color: #116431;
}

h1 {
  /* font-family: 'Phudu', cursive; */
  /* font-family: 'Chela One', cursive; */
  font-family: 'Lilita One', cursive;
}